<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>SIJOGA</title>
	<meta charset="UTF-8">
	<link rel='shortcut icon' href='/favicon.ico'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
	<link href="/css/app.css" rel="stylesheet">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar">
	<div class="container navbar__container">
		<a class="navbar__image__link" href="/views/lawsuits.html">
			<img class="navbar__image" src="/images/logo-simple.svg" alt="Logo SIJOGA" title="Logo SIJOGA">
		</a>
		<div class="navbar__links">
			<a class="navbar__link" href="#">SAIR</a>
		</div>
	</div>
</nav>
<!-- NAVBAR END -->

<div class="container">

	<!-- LAWSUIT HEADER -->
	<div class="lawsuit">
		<div class="lawsuit__title">Processo #123456</div>
		<div class="lawsuit__row">
			<div class="lawsuit__column">
				<strong class="lawsuit__text__strong">Promovente:</strong>
				<span class="lawsuit__text__muted">João da Silva de Oliveira</span>
			</div>
			<div class="lawsuit__column">
				<strong class="lawsuit__text__strong">Advogado do promovente:</strong>
				<span class="lawsuit__text__muted">João da Silva de Oliveira</span>
			</div>
		</div>
		<div class="lawsuit__row">
			<div class="lawsuit__column">
				<strong class="lawsuit__text__strong">Promovido:</strong>
				<span class="lawsuit__text__muted">João da Silva de Oliveira</span>
			</div>
			<div class="lawsuit__column">
				<strong class="lawsuit__text__strong">Advogado do promovido:</strong>
				<span class="lawsuit__text__muted">João da Silva de Oliveira</span>
			</div>
		</div>
		<div class="lawsuit__row">
			<div class="lawsuit__column">
				<strong class="lawsuit__text__strong">Juiz:</strong>
				<span class="lawsuit__text__muted">João da Silva de Oliveira</span>
			</div>
			<div class="lawsuit__column">
				<strong class="lawsuit__text__strong">Status:</strong>
				<span class="lawsuit__text__muted">Aguardando movimentação</span>
			</div>
		</div>
		<div class="lawsuit__row">
			<div class="lawsuit__column">
				<strong class="lawsuit__text__strong">Ações:</strong>
				<a class="lawsuit__link" href="#">aceitar pedido</a>
				<span class="lawsuit__link" data-target="deny">negar pedido</span>
				<span class="lawsuit__link" data-target="intimation">realizar uma intimação</span>
				<span class="lawsuit__link" data-target="close">encerrar processo</span>
				<span class="lawsuit__link" data-target="phase">nova fase</span>
			</div>
		</div>
	</div>
	<!-- LAWSUIT HEADER END -->

	<!-- LAWSUIT CONTENT -->
	<div class="lawsuit">
		<div class="lawsuit__title">Histórico</div>
		<div class="lawsuit__block">
			<div class="lawsuit__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
			<div class="lawsuit__row">
				<div class="lawsuit__column">
					<strong class="lawsuit__text__strong">Data:</strong>
					<span class="lawsuit__text__muted">01/01/2000 08:00</span>
				</div>
				<div class="lawsuit__column">
					<strong class="lawsuit__text__strong">Aberto por:</strong>
					<span class="lawsuit__text__muted">João da Silva de Oliveira</span>
				</div>
				<div class="lawsuit__column">
					<strong class="lawsuit__text__strong">Anexo:</strong>
					<span class="lawsuit__link">visualizar</span>
				</div>
				<div class="lawsuit__column">
					<strong class="lawsuit__text__strong">Tipo:</strong>
					<span class="lawsuit__text__muted">deliberativa</span>
					<span class="icon icon--warning"></span>
				</div>
			</div>
			<div class="lawsuit__justification">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda atque, blanditiis dicta enim eveniet ex exercitationem facilis illum ipsam nam nemo neque nulla odit officia quaerat ratione reiciendis sequi veritatis voluptatibus! Ad animi aperiam blanditiis commodi, dolor facere ipsum minima omnis perspiciatis quidem, repudiandae sapiente! Ad architecto ea fugit provident, qui sunt voluptatum! A, aliquam commodi dolor dolorum esse illo magnam natus quo. Delectus ea eligendi magnam quis. Adipisci amet earum ex fugit laudantium nulla obcaecati placeat quod repellendus suscipit. A adipisci, animi culpa cumque, dolorem fuga laborum magnam maxime minus molestiae nemo odio perspiciatis praesentium quibusdam vitae. Cumque dolor dolores eum eveniet, facere fugit hic iure laudantium nam quibusdam? Animi dignissimos distinctio doloremque eum nisi perspiciatis praesentium reiciendis sapiente soluta ullam? Asperiores consequuntur doloremque
				dolores illo maxime minima molestias praesentium. Ab incidunt quae quasi. Aperiam aut commodi corporis eligendi esse excepturi, harum ipsam modi odio odit sint velit.
			</div>
		</div>
		<div class="lawsuit__block">
			<div class="lawsuit__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
			<div class="lawsuit__row">
				<div class="lawsuit__column">
					<strong class="lawsuit__text__strong">Data:</strong>
					<span class="lawsuit__text__muted">01/01/2000 08:00</span>
				</div>
				<div class="lawsuit__column">
					<strong class="lawsuit__text__strong">Aberto por:</strong>
					<span class="lawsuit__text__muted">João da Silva de Oliveira</span>
				</div>
				<div class="lawsuit__column">
					<strong class="lawsuit__text__strong">Anexo:</strong>
					<span class="lawsuit__link">visualizar</span>
				</div>
				<div class="lawsuit__column">
					<strong class="lawsuit__text__strong">Tipo:</strong>
					<span class="lawsuit__text__muted">deliberativa</span>
				</div>
			</div>
			<div class="lawsuit__justification">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda atque, blanditiis dicta enim eveniet ex exercitationem facilis illum ipsam nam nemo neque nulla odit officia quaerat ratione reiciendis sequi veritatis voluptatibus! Ad animi aperiam blanditiis commodi, dolor facere ipsum minima omnis perspiciatis quidem, repudiandae sapiente! Ad architecto ea fugit provident, qui sunt voluptatum! A, aliquam commodi dolor dolorum esse illo magnam natus quo. Delectus ea eligendi magnam quis. Adipisci amet earum ex fugit laudantium nulla obcaecati placeat quod repellendus suscipit. A adipisci, animi culpa cumque, dolorem fuga laborum magnam maxime minus molestiae nemo odio perspiciatis praesentium quibusdam vitae. Cumque dolor dolores eum eveniet, facere fugit hic iure laudantium nam quibusdam? Animi dignissimos distinctio doloremque eum nisi perspiciatis praesentium reiciendis sapiente soluta ullam? Asperiores consequuntur doloremque
				dolores illo maxime minima molestias praesentium. Ab incidunt quae quasi. Aperiam aut commodi corporis eligendi esse excepturi, harum ipsam modi odio odit sint velit.
			</div>
		</div>
	</div>
	<!-- LAWSUIT CONTENT END -->

</div>

<!-- MODALS -->

<!-- DENNY MODAL -->
<div class="modal" id="deny">
	<span class="modal__close">FECHAR</span>
	<div class="modal__content">
		<form class="default">
			<textarea class="default__textarea" name="justification" placeholder="JUSTIFICATIVA"></textarea>
			<button class="button button--primary" type="submit">NEGAR PEDIDO</button>
		</form>
	</div>
</div>
<!-- DENNY MODAL END -->

<!-- INTIMATION MODAL -->
<div class="modal" id="intimation">
	<span class="modal__close">FECHAR</span>
	<div class="modal__content">
		<form class="default">
			<input class="default__input" type="text" name="name" placeholder="NOME">
			<input class="default__input" type="text" name="cpf" placeholder="CPF" data-mask="000.000.000-00">
			<input class="default__input" type="text" name="address" placeholder="ENDEREÇO">
			<select class="default__select" name="officer">
				<option value="">OFICIAL DE JUSTIÇA</option>
			</select>
			<button class="button button--primary" type="submit">REALIZAR INTIMAÇÃO</button>
		</form>
	</div>
</div>
<!-- INTIMATION MODAL END -->

<!-- CLOSE MODAL -->
<div class="modal" id="close">
	<span class="modal__close">FECHAR</span>
	<div class="modal__content">
		<form class="default">
			<select class="default__select" name="winner">
				<option value="">PARTE VENCEDORA</option>
			</select>
			<textarea class="default__textarea" name="justification" placeholder="PARECER"></textarea>
			<button class="button button--primary" type="submit">ENCERAR PROCESSO</button>
		</form>
	</div>
</div>
<!-- CLOSE MODAL END -->

<!-- PHASE MODAL -->
<div class="modal" id="phase">
	<span class="modal__close">FECHAR</span>
	<div class="modal__content">
		<form class="default">
			<input class="default__input" type="text" name="title" placeholder="TÍTULO">
			<select class="default__select" name="type">
				<option value="">TIPO</option>
				<option value="">INFORMATIVA</option>
				<option value="">DELIBERATIVA</option>
			</select>
			<textarea class="default__textarea" name="justification" placeholder="DESCRIÇÃO"></textarea>
			<input class="default__file" type="file" name="attachment" data-placeholder="SELECIONAR ANEXO">
			<button class="button button--primary" type="submit">INSERIR FASE</button>
		</form>
	</div>
</div>
<!-- PHASE MODAL END -->

<!-- MODALS END -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.3/imask.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>