<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>SIJOGA</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='shortcut icon' href='/favicon.ico'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
	<link href="/css/app.css" rel="stylesheet">
</head>
<body>
<!-- CONTENT -->

<form class="login" method="GET" action="/views/processos-juiz.html">
	<img class="login__image" src="/images/logo.svg" alt="Logo SIJOGA" title="Logo SIJOGA">
	<input class="login__input" type="text" name="cpf" placeholder="CPF" data-mask="000.000.000-00" aria-label="Insira seu CPF" inputmode="numeric">
	<input class="login__input" type="password" name="password" placeholder="SENHA" aria-label="Insira sua senha">
	<button class="button button--primary" type="submit" aria-label="Clique para efetuar o login">LOGIN</button>
</form>

<!-- END CONTENT -->
<script src="/js/app.js"></script>
</body>
</html>